body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    ;
    color: #222222;
}

.foto-principal {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: 30px 30px 30px 30px;
    /*quando todos os valores forem iguais, use um sรณ valor*/
    /*padding: 2px;*/
    box-shadow: 0px 0px 10px #959595;
}

h1 {
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(73 73 73);
    font-weight: 100;
    letter-spacing: -1px;
}